{% extends 'layoutAdmin.html.twig' %}

{% block title %}Alert index{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Alerte sur la page d'accueil</h1>

<div class="mt-5">
    <table class="table table-striped">
        <thead class="thBackground">
            <tr>
                <th>Message</th>
                <th>Activé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.message }}</td>
                <td>{{ alert.activated ? 'Oui' : 'Non' }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('alert_edit', {'id': alert.id}) }}" class="btn btn-success mr-4">Éditer<i class="fas fa-pen pl-1"></i></a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune alerte trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
