{% set page = 'Log_in' %}

{% extends 'layout.html.twig' %}


{% block body %}

    <section class="user">

        <div class="container row" id="container">

            <div class="form-container col-md-6">

                <form class="formUser mb-5" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1 class="titleLogAdmin"><i class="fas fa-sign-in-alt"></i> Espace Professionnel</h1>

                    <label for="inputEmail" class="mt-3">Adresse Mail</label>
                    <input type="email" placeholder="JohnDoe@outlook.fr" value="{{ last_username }}" name="email"
                           id="inputEmail"
                           class="userPart"
                           required autofocus>

                    <label for="inputPassword" class="mt-2">Mot de passe</label>
                    <input type="password" placeholder="°°°°°°" name="password" id="inputPassword"
                           class="userPart" required>

                    <input type="hidden" name="_csrf_token" class="m-5"
                           value="{{ csrf_token('authenticate') }}">

                    <div class="forms_buttons">
                        <input type="submit" value="Log In" class="logButton mt-2">
                    </div>

                </form>

            </div>

            <div class="overlay-container col-md-6">
                <div class="overlay">
                    <div class="overlay-panel justify-content-center align-items-center">
                        <h1 class="titleLog mb-5"> <i class="far fa-handshake"></i> Bonjour, Membre!</h1>
                        <p class="membreText mb-5">Connecter vous à votre espace personnel sur Odoo, pour accéder
                        aux comptes-rendus mensuel ainsi qu'au planning à venir avec votre status membres.</p>
                        <a href="https://test-lagabare.druidoo.io/web/login" target="_blank">
                            <button class="logButton ghost mt-5" id="signUp">Vers ODOO</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
