{% extends 'layout.html.twig' %}
{% set page = 'productsByCategory' %}
{% block body %}
    <section class="productSection">
        <div class="container-fluid">
            {% include 'products/includes/_product_cards.html.twig' %}
        </div>
    </section>
{% endblock %}
