<h2 class="text-center">Les actualités de la Gabare</h2>


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit labore libero maxime odio odit omnis sapiente tempora vel. Aperiam beatae earum eius expedita iste nisi qui sed, totam vero?</p>
        <a href="#" class="btn btn-primary">Consulter</a>
    </div>
</div>

<!--Consulter les autres articles-->

<div class="container">
    <div class="text-center">
        <div class="center-block">
            <a href="#"><button class="btn btn-primary center-block btn-lg">Historique</button></a>
        </div>
    </div>
</div>
