<section class="bgAnimation pt-5 pb-5">
    <h2 class="text-center mt-md-5 mb-3">Planning des animations</h2>
    <h3 class="text-center">Réservez dès maintenant votre participation aux différentes animations de La Gabare</h3>
    <div class="container-fluid">
        <div class="row flex-wrap justify-content-around">
            <div class="card box text-center mb-5 m-md-5">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title animation">Titre animation</h4>
                    <p class="card-text">24 décembre 2019</p>
                    <p class="card-text">18h30 - 20h30</p>
                    <a href="#" class="btn btn-primary">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    </div>
</section>
