<div class="presseBody">

    <h2>Presse</h2>

    <div class="boxArticle">
        <img src="http://fr.web.img4.acsta.net/r_640_360/newsv7/19/11/28/16/08/3416596.jpg" alt="#">
        <h4>article AlloCiné </h4>
        <p>Invité d'honneur du festival Lumière en octobre dernier, le réalisateur coréen Bong Joon-ho - sacré Palme
            d'Or 2019 pour son électro-choc "Parasite" - est revenu pour nous sur le succès inouï de son film (1,6
            millions d'entrées en France !).</p>
        <i class="fas fa-long-arrow-alt-right"><a
                    href="http://www.allocine.fr/article/fichearticle_gen_carticle=18686097.html">lire l'article complet
                ici</a></i>
    </div>

    <div class="boxVideo">
        <iframe width="850" height="450" src="https://www.youtube.com/embed/J1A6rwZ6R-k" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

</div>


