<h2 class="text-center m-0 m-md-5">Presse</h2>

<div class="row m-0">
    <div class="col-sm-6 ">
        <div class="card article">
            <div class="card-body">
                {% for press in presse %}
                <img class="picture-article mb-4"
                     src="{{ press.image }}"
                     alt="#">
                <h4 class="mb-3">
                    {{press.title}}
                </h4>
                <p class="mb-3">
                    {{ press.resume }}
                </p>
                <i class="fas fa-long-arrow-alt-right"><a
                            href="{{ press.lien }}"
                            target="_blank">lire l'article complet ici</a></i>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card video">
            <div class="card-body">
                <iframe src="https://www.youtube.com/embed/0I4XEPtiWmA"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>



