<section class="backgroundReport">
    <div class="container-fluid">
             <h2 class="text-center p-5">Assemblées Générales</h2>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                    <h3 class="">Liste des compte-rendu de La Gabare</h3>
                    {% for report in reports %}
                    <div class="pb-3">
                        <p class="font-weight-bold mb-0">Compte rendu : {{report.title}} - {{ report.meetingDate |date("m/d/Y") }}</p>
                          <a href="{{report.link}}" target="_blank">
                              <button type="button" class="btn btn-primary"><i class="far fa-file-pdf"></i>  Télécharger</button>
                          </a>
                    </div>
                {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center">
                <img src="https://via.placeholder.com/400" alt="image de groupe en réunion">
            </div>
        </div>
    </div>
</section>
