<section class="bgReport pt-0 pt-md-5">
    <h2 class="text-center pb-0 pb-md-3">Assemblées Générales</h2>
    <div class="container-fluid pt-2 pt-md-5">
        <h4 class="text-center text-md-left ml-md-5 pl-md-4">Liste des compte-rendu de La Gabare</h4>
        <div class="row ml-md-5 mr-md-5">
            <div class="card-body">
                <table class="table table-hover pt-5">
                    <tbody>
                    {% for report in reports %}
                        <tr>
                            <td class="mb-0">Compte rendu : {{report.title}} - {{ report.meetingDate |date("d/m/Y") }}</td>
                            <td><a class="btn btn-danger btn-sm" href="{{report.link}}" target="_blank"><i class="far fa-file-pdf"></i>  Télécharger</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block pl-5 pr-5 pt-3">
                <img src="{{ asset('build/images/report.jpg') }}" alt="image de groupe en réunion">
            </div>
        </div>
    </div>
</section>
