<section class="welcome">
    <div class="d-none d-sm-block position-relative">
        <img src="{{ asset('build/images/etalage3.jpg') }}" class="photoStripe mb-0" alt="étalage de fruits et légumes">
        <div class="titleContainer position-absolute w-100 d-flex flex-column justify-content-around h-50">
            <h1 class="titlePhoto w-100 text-center">La vie de La Gabare</h1>
            <p class="paraPhoto w-100 text-center">Ses animations, actualités, compte-rendus et revues de presse !</p>
        </div>
    </div>
</section>
