<section class="history_section links" id="notre-histoire">
    <div class="container">
        {% if history is defined %}
            {% for historic in history %}
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mt-md-4 mx-auto title_history">Notre histoire</h2>
                        <div class="gabare_image">
                            <img src="{{ vich_uploader_asset(historic, 'imageFile') }}" alt="Image de La Gabare" class="w-75"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row align-items-center h-100">
                            <div class="col">
                                <p class="lead">{{ historic.description|raw }}</p>
                                <div class="button_join_us_div">
                                    <button class="button_join_us">Nous rejoindre</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Rien à afficher</p>
        {% endif %}
    </div>
</section>
