<section class="history_section">
    <div class="container">
        {% if history is defined %}
            {% for historic in history %}
                <h2 class="mt-md-5 mx-auto title_history">{{ historic.title }}</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="gabare_image">
                            <img src="{{ historic.image }}" alt="Image de La Gabare"/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>{{ historic.description }}</p>
                        <div class="button_join_us_div">
                            <button class="button_join_us">Nous rejoindre</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Rien à afficher
        {% endif %}
    </div>
</section>
