<section class="history_section links pb-3" id="notre-histoire">
    <div class="container-fluid">
        {% if history is defined %}
            <h2 class="m-5 text-center">Notre histoire</h2>
            {% for historic in history %}
                <div class="row m-0 m-lg-5">
                    <div class="col-12 col-md-12 col-lg-5 offset-lg-1 text-center">
                        <div>
                            <img src="{{ vich_uploader_asset(historic, 'imageFile') }}" alt="Image de La Gabare"
                                 class="img-fluid history-image rounded"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5 d-flex flex-column justify-content-around align-items-center">
                        <h3 class="mt-3">{{ historic.title }}</h3>
                        <p>{{ historic.description|raw }}</p>
                        <button class="logButton mb-3">
                            <a href="{{ path('join_us') }}" target="_blank">Nous rejoindre</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Rien à afficher</p>
        {% endif %}
    </div>
</section>
