<section class="welcome">
    <div class="d-none d-sm-block position-relative">
        <img src="{{ asset('build/images/stripe/people5.jpg') }}" class="photoStripe mb-0" alt="étalage">
        <div class="titleContainer position-absolute w-100 d-flex flex-column justify-content-around h-50">
            <h1 class="titlePhoto w-100 text-center">Présentation de la Gabare</h1>
            <p class="paraPhoto w-100 text-center">Son histoire, ses valeurs, ses partenaires et membres essentiels !</p>
        </div>
    </div>
</section>
