<section class="welcome pt-5 pb-5">
    <div class="container-fluid links" id="bulletion-adhesion">
        <div class="row justify-content-center">
                 <div class="card text-center m-1 mb-3" style="max-width: 30em;">
                    <div class="card-header formHeader">
                        DEVENIR COOPERATEUR
                    </div>
                    <div class="card-body">
                        <p class="card-text">Pour nous rejoindre et devenir coopérateur, téléchargez le bulletin d'adhésion parts A
                            et renvoyez-le nous assorti d'un chèque de cotisation de 100 € au : </br> 1455 rue de la Bergeresse, 45160 Olivet</p>
                    </div>
                    <div class="card-footer footerForm">
                        <a href="https://www.la-gabare-orleans.coop/Doc/Part-A.pdf" target="_blank">Télécharger le bulletin d'adhésion parts A</a>
                    </div>
                </div>

                    <div class="card text-center m-1 mb-3" style="max-width: 30em;">
                        <div class="card-header formHeader">
                           SOUTENIR LE PROJET
                        </div>
                        <div class="card-body">
                            <p class="card-text">Pour soutenir le projet et directement investir dans La Gabare, téléchargez le bulletin d'adhésion parts C
                                et renvoyez-le nous assorti d'un chèque au 1455 rue de la Bergeresse, 45160 Olivet</p>
                        </div>
                        <div class="card-footer footerForm">
                            <a href="https://www.la-gabare-orleans.coop/Doc/Asso.pdf" target="_blank">Télécharger le bulletin d'adhésion parts C</a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</section>
