<section class="mt-5 mb-5 overflow-hidden">
        <h2 class="text-center mt-md-3 mb-3 title-animation">Comment devenir coopérateur ?</h2>
        <p class="text-center p-2">Vous souhaitez rejoindre l'équipage de La Gabare, il vous suffit de faire escale à l'une de ces étapes suivantes.</p>
    <div class="container-fluid mt-lg-5 mt-sm-1">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                        <iframe src="https://players.brightcove.net/1330301255001/SJYHCUbL_default/index.html?videoId=6070479413001"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                 <h4 class="pt-4 font-weight-bold">Qui peut devenir coopérateur ?</h4>
                 <p>Tout le monde ! En participant à une réunion d’information, vous pourrez remettre votre souscription de 100 € par chèque.
                    Le versement peut être échelonné. Les personnes aux minimas sociaux et les étudiants s’acquitteront seulement de 10 €, soit une part sociale.</p>
                <h4 class="pt-4 font-weight-bold">Financeurs, sociétés et autres organismes</h4>
                <p>Vous souhaiteriez soutenir ce projet environnemental, sociétal et humain, c'est possible !</br>
                    Vous pouvez souscrire des actions, dites de "Catégorie C" : <a href="#"> Bulletin de souscription (actions de "Catégorie C").</a></p>
            </div>
        </div>

        <div class="row justify-content-center mt-lg-5 mt-sm-1">
            <div class="flex-column col-lg-5 ">
                <div class="row">
                    <div class="icon d-none d-sm-block"><i class="fas fa-share"></i></div>
                    <div class="col-lg-10 col-sm-12">
                    <h4 class="font-weight-bold">La réunion d'information</h4>
                    <p class="pb-4">Je vais découvrir La Gabare et ses Coop' Acteurs à l'occasion d'une réunion d'information.
                        À laquelle je pourrais poser toutes mes questions, et échanger avec des coopérateurs. <a href="#">Les dates des prochaines réunions.</a></p>
                    </div>
                </div>
                <div class="row">
                  <div class="icon d-none d-sm-block"><i class="fas fa-share"></i></div>
                   <div class="col-lg-10 col-sm-12">
                    <h4 class="font-weight-bold">Je deviens Coop' acteur</h4>
                    <p class="pb-4">Je deviens Coop' acteur en faisant l'acquisition de 10 parts sociales, dites de "catégorie A" de 10 € chacune ou je bénéficie du tarif réduit*,
                        pour devenir coopérateur il suffit de compléter et renvoyer <a href="#">le bulletin de souscription</a> accompagné de votre règlement "bulletin de souscription".
                    </br>* Etudiant ou minima sociaux : une action, soit 10 €.</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="icon d-none d-sm-block" ><i class="fas fa-share"></i></div>
                    <div class="col-lg-10 col-sm-12">
                    <h4 class="font-weight-bold">J'adhère à l'association</h4>
                    <p>Après un vote en Assemblée Générale, la règle des 3h a évolué. Il est désormais possible de remplacer occasionnellement le(a) conjoint(e) qui a souscrit aux parts sociales.
                        Pour cela il faut être membre de l’association (adhésion gratuite) les amis de la gabare ce qui vous permettra de bénéficier d’une assurance lors de vos 3h parmi les mariniers.
                        <a href="#">Bulletin d'adhésion disponible ici.</a></p>
                    </div>
                </div>
            </div>

                <div class="col-lg-5">
                    <div class="d-none d-sm-block ml-5 pl-5 pr-5">
                      <img src="{{ asset('build/images/student.jpg') }}" alt="publicité pour le tarif étudiant">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
