<section class="welcome">
    <div class="d-none d-sm-block position-relative">
        <img src="{{ asset('build/images/nous-rejoindre-2-min.jpg') }}" class="photoStripe mb-0" alt="étalage">
        <div class="titleContainer position-absolute w-100 d-flex flex-column justify-content-around h-50">
            <h1 class="titlePhoto w-100 text-center">Venez nous rejoindre !</h1>
            <p class="paraPhoto w-100 text-center">Nos modalités d'inscription et l'agenda de visite pour découvrir la coopérative</p>
        </div>
    </div>
</section>
