<section class="bgTimetable pt-5 pb-5">
    <h2 class="text-center mt-md-3 mb-3 title-animation">Agenda des réunions d'information</h2>
    <h4 class="text-center">La réunion d'information est le passage obligé pour rejoindre la coopérative !</h4>
    <div class="container  mt-3 mb-5">
        <p class="text-justify">Les informations qui y sont données sont indispensables pour comprendre le
            fonctionnement de la coopérative et souscrire aux parts sociales.
            Ce rendez-vous comprend une visite du magasin et la remise d'une invitation pour y faire vos courses et
            tester nos produits !
            Les réunions d'information ont lieu à la coopérative au 1455 rue de la Bergeresse à Olivet.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for timetable in timetables %}
                <div class="col-12 col-lg-2">
                    <div class="card card-timetable mb-5 mx-auto">
                        <div class="card-header header-timetable text-center">
                            <p class="timetableDay">{{ timetable.visitDate | date("l") }}</p>
                            <p class="timetableDate">{{ timetable.visitDate | date("d M") }}</p>
                            <p class="timetableHour"><i class="far fa-clock mr-1"></i>
                                {{ timetable.visitTime | date("H:i") }}</p>
                        </div>
                        <div class="card-body text-center p-4 body-timetable">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScyrdjtXQx-55ydGSLB3HX6zRe7zwS4aFEv8chaDyXl1wUAQg/viewform"
                               target="_blank" class="btn btn-primary">S'inscrire</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
