@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

$primary-color: #21358D;
$secondary-color: #76A21D;
$primary-color-50:rgba(33, 53, 141, 0.4);
$third-color: #F8A600;
$dark-color: #333;
$light-color: #FFF;
$section-color: #FBFBFB;
$footer-color: #696969;
$section-color: #f9f9f9;
$title-font: 'Raleway', sans-serif;
$text-font: 'Roboto', sans-serif;
$photo-font: 'Satisfy', cursive;
$section-size:100vh;
$texture-background: url('../images/ricepaper2.png');
$photo-hue:rgba(0,0,0,.5);
$dark-bootstrap: #292b2c;


$font-weight-light: 400;
$font-weight-normal: 500;

$tramA: #e82219;
$busThirteen: #f09fc0;
$busTwentySix: #f0b55e;
$busOne: #e62d87;

$borderLinePartner: #d6eaff;
