@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Buenard:400,700&display=swap&subset=latin-ext');

$primary-color: #21358D;
$secondary-color: #76A21D;
$third-color: #F8A600;
$dark-color: #333;
$light-color: #FFF;
$section-color: #FBFBFB;
$footer-color: #696969;

$title-font: 'Buenard', serif;
$text-font: 'Roboto', sans-serif;
