@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary-color: #21358D;
$secondary-color: #76A21D;
$third-color: #F8A600;
$dark-color: #333;
$light-color: #FFF;
$section-color: #FBFBFB;
$footer-color: #696969;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;
