.theme {
    width: fit-content;
    width:-moz-fit-content;
    background-color: $third-color;
    color: $light-color;
    z-index:8;
}

.bgActualities .jumbotron {
    height: 400px;
    background-size: cover;
    background-image: url('../images/veg-basket.jpg');
    background-color:$photo-hue;
    background-blend-mode: color;
    background-attachment: fixed;
}

.bgActualities {
    min-height: $section-size;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color:$secondary-color;
    border-color: $secondary-color;
    box-shadow: 0 0 0 $light-color;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 $light-color;
    border-color: $secondary-color;
}

.btn-primary:focus {
    color:$light-color;
    background-color:$light-color;
    box-shadow: 0 0 0 $light-color;
    border-color: $secondary-color;
}

.card-link.btn {
    color:$secondary-color;
}

.btn-info {
    color: $light-color;
    background-color: $primary-color;
}

.btn-info:hover {
    color:$primary-color;
    background-color: $light-color;
    border-color: $primary-color;
}

.image-size-article {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}
