.secondTitle{
     margin-top: 40px;
     font-size: 25px;
     font-weight: bold;
}

.manualTitle {
     color: $dark-bootstrap;
     font-weight: bold;
     font-size: 22px;
     line-height: 2em;
}

.manualSubTitle {
     text-decoration: underline;
     font-weight: bold;
     font-size: 18px;
     line-height: 2.5em;
}

