@import "admin_presse";
@import "admin_menu";
@import "vars";
@import "admin_manual";

.thBackground {
    background-color: $primary-color;
    color: $light-color;
}

.table td {
    padding-top: 23px;
}

.table .worker-show {
    padding-top: 23px;
}

h1 {
    font-size: 2em;
}

.img-crud {
    width: 400px;
}

.color_picker {
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px 10px;
}
