@import "admin_presse";
@import "admin_menu";
@import "vars";

.thBackground {
    background-color:$primary-color;
    color:$light-color;
}

.table td {
    padding-top: 23px;
}

h1{
    font-size: 2em;
}

