nav {
    line-height: 1.2em;
    height: 100vh;
}

.top-nav {
    color: $light-color;
}

.menulink {
    color: $light-color;
    text-decoration: none;
    font-size: 18px;

    &:hover {
        color: $third-color;
    }

    &:active {
        color: $third-color;
    }

    &:visited {
        color: $third-color;
    }
}

ul {
    padding-left: 0;
}

li {
    color: $light-color;
    list-style-type: none;
    line-height: 22px;

    &:hover {
        color: $third-color;
    }
}

a {
    color:$light-color;
    list-style-type: none;
    line-height: 22px;
    &:hover {
        color: $third-color;
    }
}

.bkm {
    background-color: $dark-bootstrap;
}

.fa-cogs, .fa-user-shield, .fa-lock-open {
    color: $light-color;
}

