@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "header_style";
@import "animation_style";
@import "admin_style";
@import "presse_style";
@import "footer_style";
@import "actualities_style";
@import "report_style";
@import "phone_style";
@import "gabare_brief_style";
@import "form";

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
        h#{$i}{
            @content
        }
    }
}

@include headings(){
    font-family:$title-font;
    color: $primary-color;
}

h3, h4, h5, h6 {
    font-weight: $font-weight-light;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

.btn-primary {
    color: $secondary-color;
    background-color: $light-color;
    border-color: $secondary-color;
}

.btn-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
}


main {
    min-height: 50vh;
}

p {
    font-family: $text-font;
}

.box {
    padding: .5em;
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin: -1px 0 0 -1px;
    color: $dark-color;
    background: linear-gradient($light-color, $light-color 50%, $secondary-color 50%, $secondary-color);
    background-size: 100% 202%;
    transition: all 0.6s ease;
}

.box:hover {
    background-position: 100% 100%;
}

.box:hover h5 {
    color: $light-color;
}

.box:hover h4 {
    color: $light-color;
}

.box:hover p {
    color: $light-color;
}

.box:hover i {
    color: $light-color;
}

.card-size {
    width: 20rem;
}

.photoStripe{
    position: relative;
    height: 95vh;
    width: 100%;
    -webkit-filter: contrast(90%) brightness(90%);
    filter: contrast(90%) brightness(90%);
    z-index: 0;
    object-fit: cover;
}


.titleContainer {
    bottom: 0;
}

.titlePhoto{
    color:$light-color;
    font-family: $photo-font;
    font-size: calc(65px + 6 * ((100vw - 320px) / 680));
    text-shadow: 0 0 10px $dark-color;
}

.paraPhoto{
    color:$light-color;
    font-family: $photo-font;
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
    text-shadow: 0 0 15px $dark-color;
}
