@import "~bootstrap/scss/bootstrap";

@import "vars";

@import "animation_style";

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
        h#{$i}{
            @content
        }
    }
}

@include headings(){
    font-family:$title-font;
    color: $primary-color;
}

.btn-primary {
    background-color: $third-color;
    border-color: $third-color;
}

.btn-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
}