.themeInputPart {

    label {
        display: flex;
        justify-content: center;
        font-size: 23px;
        color: $primary-color;
    }
}

.page-item.active .page-link{
    background-color: $third-color;
    border-color:$light-color;
}

.paginationStyle {
    display: flex;
    justify-content: center;

    nav {

        ul {

            li {
                a {
                    border: none;
                    font-size: 18px;
                }

                span {
                    border-radius: 20px;
                }

            }
        }
    }
}

.theme_card {
    z-index: auto;
}

.photoShowArticle {
    height:350px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.titleShowArticle{
    padding-top: 12%;
    padding-bottom: 2%;
}

.contentArticle {
    line-height: 1.5em;
    font-size: 14pt;
}

@media screen and (max-width: 640px) {
    .photoShowArticle {
        width:350px;
        height: 100%;
        padding-right: 0;
    }
}
