.badge {
    color: $light-color;
    font-size: large;
}

.tramA {
    background-color: $tramA;
}

.busThirteen {
    background-color: $busThirteen;
}

.busTwentySix {
    background-color: $busTwentySix;
}

.busOne {
    background-color: $busOne;
}
