.email-CA {
    border: none;
    padding: 8px;
    background-color: $primary-color;
    cursor: pointer;
    width: 100%;
}

.email-CA:hover {
    opacity: 0.7;
}

.fa-envelope {
    color: $light-color;
    font-size: 24px;
}
