.profile{
    width: 18rem;
}

.profile-img {
    width: 100%;
}

@media screen and (max-width: 540px) {
    .scrolling-wrapper-flexbox {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .card {
        flex: 0 0 auto;
    }

    .scrolling-wrapper-flexbox {
        -webkit-overflow-scrolling: touch;
    }
}
