.textarea .form-control {
    height:150px;
}

.colorForm{
    height: 27px;
    width: 100px;
    border-radius: 10px;
    background-color: $secondary-color;
    color: $light-color;
    border: solid 2px $secondary-color;
}
