@import "vars";

header {
    font-family: $title-font;
    font-weight: 500;
    top: 0;
    z-index: 10;

    nav {
        box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.75);
        height: 5.5rem;
        background-color: $light-color;

        .navbar-toggler {
            border: none;
            margin: auto 0;
        }

        .burger{
            background-color: $light-color;
        }

        .logo_nav {
            img {
                height: 5.5rem;
            }
        }

        .feather {
            width: 22px;
            height: 22px;
            stroke: $primary-color;
        }

        .feather:hover {
            stroke: $secondary-color;
        }

        .logos_nav_content {
            width: 10rem;
        }

        .nav-link {
            cursor: pointer;
        }

        .dropdown-item {
            color: $primary-color;

            &:hover {
                color: $secondary-color;
            }
        }

        .connexion_button {
            height: 34px;
            width: 150px;
            border-radius: 17px;
            background-color: $secondary-color;
            color: $light-color;
            font-weight: 700;
            border: solid 2px $secondary-color;

            .md-icon {
                height: 22px;
                width: 22px;
                fill: $light-color;
                transform: rotate(360deg);
            }

            &:hover {
                color: $primary-color;
                background-color: $light-color;
                border-color: $primary-color;
                transition-duration: 0.2s;

                svg {
                    fill: $primary-color;
                    transition-duration: 0.2s;
                }
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $primary-color;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $secondary-color;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $secondary-color;
}

.customersAdd{
    background: $secondary-color;
    height: 60px;
    width:250px;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
