.history_section {
    background-image:$texture-background;
}

.button_join_us {
    height: 35px;
    border-radius: 9px;
    background-color: $secondary-color;
    color: $light-color;
    border: solid 2px $secondary-color;
}
