.formHeader {
    background-color: $primary-color;
    color: $light-color;
}

.footerForm {
    background-color: $light-color;
}


.formLink {
    font-size: 1.2rem;

    &:link {
        color: $primary-color;
    }

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: $secondary-color;
    }
}

