.formHeader {
    background-color: $primary-color;
    color: $light-color;
}

.footerForm {
    background-color: $light-color;
}

.card-body-form{
    vertical-align: middle;
    height:120px;
}

.formLink {
    font-size: 1.2rem;

    &:link {
        color: $primary-color;
    }

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: $secondary-color;
    }
}

@media screen and (max-width: 640px) {
    .title_cooperator {
        padding-top:28%;
  }
}
