.user {
    padding-top: 16%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:$texture-background;
}

.titleLog {
    font-weight: bold;
    color:$light-color;
}

.titleLogAdmin{
    font-weight: bold;
}

.membreText {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


.formUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

.overlay-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
  }

.userPart {
    background-color: $light-color;
    border:none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 115%;
}


.form-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
    background-color: $light-color;
}

.overlay-container {
    background:rgba(33,53,141,0.7);
    background-size: cover;
    color: $light-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
}
