.about-us-image {
    background-image: url('../images/sea-min.jpg');
}

.gabare-life-image {
    background-image: url('../images/vegetables.webp');
}

.join-us-image {
    background-image: url('../images/veg-aisle.webp');
}
