.picture-article {
    max-width: 100%;
    object-fit: cover;
}

.video {
    height: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

a:link {
    text-decoration: none;
}

.test {
    transition: transform .6s;
}

.test:hover {
    transform: translate(10px);
}
