.presseLink, .presseLink:visited {
    text-decoration: none;
    color:$secondary-color;
}

.show-link {
    transition: transform .6s;
    margin-left: 75%;
}

.show-link:hover {
    transform: translate(10px);
}

.presseTitle{
    height: 24%;
    margin:0;
}

.video{
    height: 90%;
    width: 100%;
}
