.profile{
    height: 250px;
    flex: 0 0 auto;
}

.profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.email-CA {
    border: none;
    padding: 8px;
    background-color: $primary-color;
    cursor: pointer;
    width: 100%;
}

.email-CA:hover {
    opacity: 0.7;
}

.fa-envelope {
    color: $light-color;
    font-size: 24px;
}

.scroll-arrow {
    width: 10%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding:0;
    margin:0;
    opacity: 0.5;
    font-size:34px;
    transition: 0.2s;
}
.scroll-arrow:hover {
    transition: 0.2s;
    opacity:1;
}

.ul-scroll {
    padding: 0;
    width: 70%;
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
ul {

}
.ul-scroll::-webkit-scrollbar {
    display: none;
}
.li-scroll {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    transition: 0.2s;
}

.li-scroll, .img-scroll {
    width: 250px;
}

.bgEmployee {
    background-color: cadetblue;
}
