.card-timetable {
    width: 220px;
    font-size: 18px;
}

.bgTimetable{
    background-image:$texture-background;
}

.header-timetable {
    background-color: $secondary-color;
    color:$light-color;
}

.body-timetable{
    font-size: 14px;
    height: 130px;
    max-height: 130px;
}

.timetableDate {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2em;
}

.timetableDay {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2em;
}

.card-footer {
    border:none;
    background-color: $light-color;
}

.joinUs-image {
    background-image: url('../images/meeting.jpg');
}
