.bgValue {
    background: $primary-color;
    color:white;
}

.titleValue, .titleCardValue{
    color:white;
}

.boxValue {
    background: $secondary-color;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.boxValue:hover {
    background: $third-color;
}

.iconValue{
    font-size: 48px;
    padding-top: 15px;
    color: $light-color;
}

.counter-up{
    font-weight: bold;
    font-size: 48px;
    display: block;
}
