{% extends 'layoutAdmin.html.twig' %}

{% block title %}Page d'accueil Administrateur{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Bienvenue sur l'espace administrateur de La Gabare</h1>
        <h2 class="secondTitle">Manuel d'utilisation</h2>
        <h3 class="manualTitle">Légendes
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseLegend" role="button"
               aria-expanded="false" aria-controls="collapseLegend">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse show" id="collapseLegend">
            <div class="card card-body mb-3">
                <p>Voici les principaux boutons à cliquer qui figurent sur les différentes pages de l'espace
                    administrateur.
                    </br>
                <p><span class="btn btn-primary add mr-2">Ajouter<i class="fas fa-plus ml-2"></i></span>
                    : ouvre une page qui permet de créer une nouvelle fiche dans la base de données.
                <p><span class="btn btn-secondary mr-2">Aperçu<i class="fas fa-file-alt ml-1"></i></span>
                    : ouvre une page qui permet juste de voir le détail de la fiche de la ligne cliquée.</p>
                <p><span class="btn btn-success mr-2">Editer<i class="fas fa-pen ml-1"></i></span>
                    : ouvre une page qui permet de modifier le détail de la fiche d'une ligne cliquée, les champs sont
                    pré-remplis.
                <p><span class="btn btn-danger mr-2">Supprimer<i class="fas fa-trash-alt ml-1"></i></span> : supprime la
                    fiche en question de la base de données.
                    Une fenêtre s'ouvre avec un message de confirmation (cliquer sur annuler ou OK).</p>
                <p><span class="btn btn-outline-dark mr-2">Retour à la liste</span> : permet de revenir à la liste.</p>
            </div>
        </div>

        <h3 class="manualTitle">Onglet LA GABARE
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseGabare" role="button"
               aria-expanded="false" aria-controls="collapseGabare">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseGabare">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Manuel d'utilisation</li>
                    <p>En cliquant sur Manuel d'utilisation, l'administrateur peut revenir ici aux instructions.</p>
                    <li class="manualSubTitle">Identifiant</li>
                    <p>Après s'être identifié sur le formulaire de connexion depuis le site internet de La Gabare,
                        l'administrateur voit son email affiché</p>
                    <li class="manualSubTitle">Se déconnecter</li>
                    <p>Cliquer sur se déconnecter, déconnecte l'administrateur de cet espace et le renverra vers la page
                        du d'accueil site internet de La Gabare. Pour des raisons de sécurité, il faut bien se
                        déconnecter une fois les actions requises terminées.</p>
                </ol>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN_HOME') %}
        <h3 class="manualTitle">Onglet Accueil
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseHome" role="button"
               aria-expanded="false" aria-controls="collapseHome">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseHome">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Alerte <i class="fas fa-chevron-down ml-2"></i></li>
                    <p>En cliquant sur Alerte, l'administrateur peut gérer une notification qui s'affiche sur le site
                        internet de La Gabare.
                        C'est un bandeau rouge avec un message qui apparait en dessous de la barre de navigation sur le
                        site internet de La Gabare une fois activé. Il s'agit notamment d'indiquer les jours de
                        fermeture ou d'ouverture inhabituels.
                        Un message par défaut est inscrit, il suffit de cliquer dans le champ du message pour le
                        modifier.</p>
                    <p>Cocher la case "activé", active le message qui apparait sur le site.</p>
                    <p>Décocher la case "activé", désactive le message qui n'apparait plus sur le site.</p>
                    <p>Cliquer sur le bouton <span class="btn btn-primary add ml-2">Mettre à jour</span> permet
                        d'enregister les modifications.</p>

                    <li class="manualSubTitle">Carousel <i class="fas fa-chevron-down ml-2"></i></li>
                    {# ici instructions Carrousel#}
                </ol>
            </div>
        </div>
        {% endif %}



        {% if is_granted('ROLE_ADMIN_WHO') %}
        <h3 class="manualTitle">Onglet Qui sommes-nous ?
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseWho" role="button"
               aria-expanded="false" aria-controls="collapseWho">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseWho">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Histoire</li>
                    {# ici instructions Histoire#}

                    <li class="manualSubTitle">Valeurs en chiffres</li>
                    {# ici instructions Valeurs#}

                    <li class="manualSubTitle">Associés</li>
                    <p>En cliquant sur Associés, l'administrateur arrive sur la page où sont listées toutes les
                        personnes affichées sur la page "Qui sommes nous ?" du site internet de La Gabare.
                        Il s'agit des salariés de La Gabare, des membres du Conseil d'Administration,
                        des membres du Conseil des Amis de la Gabare, et des pionniers qui ont aidé à sa fondation.
                        Toutes ces personnes ont regroupées sous le terme "Associés.
                        Sur la page de la liste, on peut voir dans l'en-tête du tableau "Poste", "Prénom", "Nom" et
                        "Actions". La liste est triée par ordre alphabétique de poste et de nom de famille. Dans la
                        colonne
                        "Actions" se trouvent les boutons "Aperçu", "Editer" et Supprimer".</p>
                    <p><span class="boldText">Création d'un nouvel associé :</span> Appuyer sur le bouton <span
                                class="btn btn-primary add ml-2 mr-2">Ajouter<i class="fas fa-plus ml-2">
                        </i></span>en dessous du titre. </br>Dans la page Ajouter un nouvel associé, il faut remplir
                        tous les champs : "Poste" (sélectionner dans la liste déroulante),
                        "Prénom", "Nom", "Fonction" (non-obligatoire), "Email" (non-obligatoire) et "Portrait" (non
                        obligatoire). Pour "Portrait", sélectionner une photo depuis
                        un dossier en cliquant sur le bouton "Parcourir. (<span class="boldText">Attention</span> ! Le
                        titre du fichier de la photo n'apparait pas dans le champ même une fois chargée). Si aucune
                        photo n'est sélectionnée,
                        une image d'une silhouette grise sera mise par défaut). Ensuite cliquer sur <span
                                class="btn btn-primary add ml-2 mr-2">Ajouter</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste, un message dans un bandeau vert
                        confirme la création de l'associé dans la base de données.
                    <p><span class="boldText">Modification d'un associé existant :</span> depuis la la page de la liste,
                        appuyer sur le bouton Editer sur la ligne correspondante à la personne à modifier.
                        Dans la page Editer un associé, la fiche de la personne est pré-remplie, modifier directement
                        les renseignements dans les champs si besoin. Puis cliquer sur
                        <span class="btn btn-primary add mr-2 ml-2">Mettre à jour</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste,
                        un message dans un bandeau vert confirme la modification de l'associé dans la base de données.
                    </p>
                    <p><span class="boldText">Aperçu d'un associé existant :</span> depuis la page de la liste, appuyer
                        sur le bouton Aperçu sur la ligne correspondante à la personne à voir.
                        Dans la page Aperçu d'un associé, la fiche de la personne est renseignée.</p>
                    <p><span class="boldText">Supprimer un associé existant :</span> depuis la la page de la liste,
                        appuyer sur le bouton Supprimer sur la ligne correspondante à la personne à
                        supprimer.
                    </p>
                </ol>
            </div>
        </div>
        {% endif %}



        {% if is_granted('ROLE_ADMIN_GABARE_LIFE') %}
        <h3 class="manualTitle">Onglet La Vie de La Gabare
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseLife" role="button"
               aria-expanded="false" aria-controls="collapseLife">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseLife">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Animations</li>
                    <p>En cliquant sur Animations, l'administrateur arrive sur la page où sont listées toutes les
                        animations qui peuvent être renvoyées sur la page "La Vie de La Gabare" où les 6 dernières
                        animations créées sont affichées. Il s'agit des animations organisées par La Gabare et qui ont
                        lieu au supermarché.
                        Sur la page de la liste, on peut voir dans l'en-tête du tableau "Titre", "Date" et
                        "Actions". Dans la colonne "Actions" se trouvent les boutons "Aperçu", "Editer" et
                        Supprimer".</p>
                    <p><span class="boldText">Création d'une nouvelle animation :</span> Appuyer sur le bouton <span
                                class="btn btn-primary add ml-2 mr-2">Ajouter<i class="fas fa-plus ml-2">
                        </i></span>en dessous du titre. </br>Dans la page Ajouter une nouvelle animation, il faut
                        remplir tous les champs : "Titre", "Description", "Date", "Heure de début" et "Heure de fin"
                        (sélectionner dans la liste déroulante),
                        "Prénom", "Nom", "Fonction" et "Image". Pour "Image", sélectionner une photo depuis
                        un dossier en cliquant sur le bouton "Parcourir. (<span class="boldText">Attention</span> ! Le
                        titre du fichier de la photo n'apparait pas dans le champ même une fois chargée). Ensuite
                        cliquer sur <span class="btn btn-primary add ml-2 mr-2">Ajouter</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste, un message dans un bandeau vert
                        confirme la création de l'animation dans la base de données.
                    <p><span class="boldText">Modification d'une animation existante :</span> depuis la page de la
                        liste, appuyer sur le bouton Editer sur la ligne correspondante à l'animation à
                        modifier.</p>
                    <p>Dans la page Editer une animation, la fiche de l'animation est pré-remplie, modifier
                        directement les renseignements dans les champs si besoin. Puis cliquer sur
                        <span class="btn btn-primary add mr-2 ml-2">Mettre à jour</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste,
                        un message dans un bandeau vert confirme la modification de l'associé dans la base de données.
                    </p>
                    <p><span class="boldText">Aperçu d'une animation existante :</span> depuis la page de la liste,
                        appuyer sur le bouton Aperçu sur la ligne correspondante à l'animation à voir.</p>
                    Dans la page Aperçu d'une animation, la fiche de l'animation est renseignée.</p>
                    <p><span class="boldText">Suppression d'une animation existante :</span> depuis la la page de la
                        liste, appuyer sur le bouton Supprimer sur la ligne correspondante à l'animation à
                        supprimer.
                    </p>

                    <li class="manualSubTitle">Articles</li>
                    <p>En cliquant sur Articles, l'administrateur arrive sur la page où sont listés tous les
                        articles qui peuvent être renvoyés sur la page "La Vie de La Gabare" du site internet de La
                        Gabare.
                        Les 3 derniers articles créés sont affichés dans la section Actualités de la page.
                        Il s'agit des articles écrits par La Gabare.
                        Sur la page de la liste, on peut voir dans l'en-tête du tableau "Titre", "Date", "Thème" et
                        "Actions". Dans la colonne "Actions" se trouvent les boutons "Aperçu", "Editer" et
                        Supprimer".</p>
                    <p><span class="boldText">Création d'un nouvel article :</span> Appuyer sur le bouton <span
                                class="btn btn-primary add ml-2 mr-2">Ajouter<i class="fas fa-plus ml-2">
                        </i></span>en dessous du titre. </br>Dans la page Ajouter un nouvel article, il faut remplir
                        tous les champs : "Titre", "Description" (il y a une barre avec des icônes pour styliser la mise
                        en forme du texte
                        au survol de l'icône avec la souris, un petite bulle apparait avec sa fonction indiquée),
                        "Image", "Date de publication"
                        et "Thème" (sélectionner dans la liste déroulante). Pour "Image", sélectionner une photo depuis
                        un dossier en cliquant sur le bouton "Parcourir. (<span class="boldText">Attention</span> ! Le
                        titre du fichier de la photo n'apparait pas dans le champ même une fois chargée). Ensuite
                        cliquer sur <span class="btn btn-primary add ml-2 mr-2">Ajouter</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste, un message dans un bandeau vert
                        confirme la création de l'article dans la base de données.
                    <p><span class="boldText">Modification d'un article existant :</span> depuis la la page de la liste,
                        appuyer sur le bouton Editer sur la ligne correspondante à l'article à modifier.</p>
                    <p>Dans la page Editer un article, la fiche de l'article est pré-remplie, modifier directement les
                        renseignements dans les champs si besoin. Puis cliquer sur
                        <span class="btn btn-primary add mr-2 ml-2">Mettre à jour</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste,
                        un message dans un bandeau vert confirme la modification de l'article dans la base de données.
                    </p>
                    <p><span class="boldText">Aperçu d'un article existant :</span> depuis la page de la liste, appuyer
                        sur le bouton Aperçu sur la ligne correspondante à l'article à voir.
                        L'administrateur est renvoyé vers l'article tel qu'il apparait sur le site de La Gabare</p>
                    <p><span class="boldText">Suppression d'un article existant :</span> depuis la page de la liste,
                        appuyer sur le bouton Supprimer sur la ligne correspondante à l'article à supprimer.
                    </p>

                    <li class="manualSubTitle">Thèmes des Articles</li>
                    <p>En cliquant sur Thèmes des Articles, l'administrateur arrive sur la page où sont listés tous les
                        thèmes des articles d'actualités. Il s'agit de la vignette colorée en haut d'une carte
                        article d'actualités qui apparait dans la page "La Vie de La Gabare" du site internet de La
                        Gabare.
                        Sur la page de la liste, on peut voir dans l'en-tête du tableau "Nom", "Couleur" et
                        "Actions".
                        Dans la colonne "Actions", il y a un un bouton vert "Editer" et bouton rouge
                        "Supprimer".</p>
                    <p>
                    <p><span class="boldText">Création d'un nouveau thème :</span> Appuyer sur le bouton <span
                                class="btn btn-primary add ml-2 mr-2">Ajouter<i class="fas fa-plus ml-2">
                        </i></span>en dessous du titre. </br>Dans la page Ajouter un nouveau thème, il faut remplir
                        tous les champs : "Nom" et "Couleur'. En cliquant dans le champ "Couleur", qui est par défaut
                        noir, une fenêtre s'ouvre pour choisir la couleur.
                        Tourner le curseur (trait blanc) de la roue chromatique pour choisir une couleur, par
                        défaut il est mis sur rouge, puis cliquer au milieu du triangle et déplacer le petit rond blanc
                        pour choisir une nuance de cette couleur.
                        L'autre possibilité est de remplir les champs à droite de la roue. "Nom de la couleur" : il s'agit d'un code
                        hexadécimale. "Rouge", "Vert", "Bleu" : il s'agit d'un format de codage de fusion des trois
                        couleurs primaires, la valeur maximum est 255. Cela correspond au code
                        couleur RGB). La couleur peut être affinée par les champ "Teinte", "Saturation". Le champ
                        "Valeur" fait déplacer le curseur sur la roue chromatique. Une fois la couleur choisie
                        cliquer sur "Sélectionner", cela ferme la fenêtre.
                        Cliquer ensuite sur "Ajouter".</p>
                    <p><span class="boldText">Modification d'un thème existant :</span> depuis la la page de la liste,
                        appuyer sur le bouton Editer sur la ligne correspondante au thème à modifier.</p>
                    <p>Dans la page Editer un thème, la fiche du thème est pré-remplie, modifier directement les
                        renseignements dans les champs si besoin. Puis cliquer sur
                        <span class="btn btn-primary add mr-2 ml-2">Mettre à jour</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste,
                        un message dans un bandeau vert confirme la modification du thème dans la base de données.
                    <p><span class="boldText">Suppression d'un article existant :</span> depuis la page de la liste,
                        appuyer sur le bouton Supprimer sur la ligne correspondante au thème à supprimer.
                        (<span class="boldText">Attention : </span>supprimer un thème supprime en même temps
                        tous les articles liés à ce thème. Si le nom du thème ne convient pas, il vaut mieux le renommer
                        dans la page Editer un thème que le supprimer.)
                    <p>
                    </p>

                    <li class="manualSubTitle">Presse</li>
                    {# ici instructions Presse#}
                </ol>
            </div>
        </div>
        {% endif %}

            {% if is_granted('ROLE_ADMIN_JOIN_US') %}
        <h3 class="manualTitle">Onglet Nous Rejoindre
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseJoin" role="button"
               aria-expanded="false" aria-controls="collapseJoin">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseJoin">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Agenda</li>
                    <p>En cliquant sur Agenda, l'administrateur arrive sur la page où sont listées toutes les
                        réunions d'information dont certaines sont renvoyées à la page "Nous Rejoindre" du site internet
                        de La Gabare.
                        Il s'agit des réunions de découverte où toute personne intéressée peut s'inscrire à un créneau
                        de visite via un formulaire Google. Par défaut, 12 cartes de dates de réunion sont
                        affichées sur la page "Nous Rejoindre" du site internet
                        de La Gabare (cela correspond à 4 semaines environ). Une fois la date passée,
                        la carte de la réunion s'enlève
                        automatiquement, et la date suivante s'ajoute.
                        Sur la page de la liste, on peut voir dans l'en-tête du tableau "Date", "Heure", et
                        "Actions". Dans la colonne "Actions", il y a un bouton vert "Editer" et bouton rouge
                        "Supprimer".
                    <p><span class="boldText">Création d'une nouvelle réunion d'information :</span>
                        Appuyer sur le bouton <span class="btn btn-primary add ml-2 mr-2">Ajouter
                            <i class="fas fa-plus ml-2"></i></span>en dessous du titre. </br>
                        Dans la page Ajouter une réunion d'information, il faut remplir tous les champs :
                        "Date" et "Heure" (sélectionner dans la liste déroulante). Ensuite
                        cliquer sur <span class="btn btn-primary add ml-2 mr-2">Ajouter</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste, un message dans un bandeau vert
                        confirme la création de la réunion dans la base de données.
                    <p><span class="boldText">Modification d'une réunion d'information existante :</span>
                        depuis la page de la liste, appuyer sur le bouton Editer sur la ligne correspondante
                        à la réunion d'information à modifier.</p>
                    <p>Dans la page Editer une réunion d'information, la fiche de l'animation est pré-remplie,
                        modifier directement les renseignements dans les champs si besoin. Puis cliquer sur
                        <span class="btn btn-primary add mr-2 ml-2">Mettre à jour</span> pour sauvegarder.
                        L'administrateur est ensuite redirigé vers la page de la liste,
                        un message dans un bandeau vert confirme la modification de la réunion d'information dans la
                        base de données.
                    </p>
                    <p><span class="boldText">Suppression d'une réunion d'information existante :</span> depuis la la page de la
                        liste, appuyer sur le bouton Supprimer sur la ligne correspondante à la réunion d'information à
                        supprimer.
                    </p>

                </ol>
            </div>
        </div>
        {% endif %}


        {% if is_granted('SUPER_ADMIN')%}
        <h3 class="manualTitle">Onglet Super Admin
            <a class="btn btn-outline-dark btn-sm ml-2" data-toggle="collapse" href="#collapseAdmin" role="button"
               aria-expanded="false" aria-controls="collapseAdmin">
                <i class="fas fa-chevron-down"></i>
            </a>
        </h3>
        <div class="collapse" id="collapseAdmin">
            <div class="card card-body mb-3">
                <ol>
                    <li class="manualSubTitle">Gestion des rôles</li>
                    {# ici instructions rôles#}
                </ol>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}
