{% extends 'base.html.twig' %}

{% block title %}Edit Report{% endblock %}

{% block body %}
    <h1>Edit Report</h1>

    {{ include('admin_report/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('report_index') }}">Retour à la liste</a>

    {{ include('admin_report/_delete_form.html.twig') }}
{% endblock %}
