<div class="col-2 bkm">
    <nav>
        <div class="top-nav ml-2 mt-4">
            <p class="font-weight-bold mt-2 mb-3"><i class="fas fa-cogs mr-3"></i>
                LA GABARE</p>
            <p><i class="fas fa-user-shield mr-3 mb-2"></i></p>
            <p class="mb-4">Se déconnecter</p>
        </div>
        <hr>
            <h4 class="backLink mb-4"><a href="{{ path('home') }}">Retour au site</a></h4>
        <div class="vmenu">
            <h4>Gestion des rôles</a>
                <ul id="s2">
                    <li><a href="#">Permissions</a></li>
                </ul>
            </h4>
        </div>
        <div class="vmenu">
            <h4>Page d'accueil
                <ul id="s3">
                    <li><a href="#">Alerte</a></li>
                    <li><a href="#">Bandeau image</a></li>
                    <li><a href="#">Carrousel</a></li>
                </ul>
            </h4>
        </div>
        <div class="vmenu">
            <h4>Qui sommes-nous ?
                <ul id="s4">
                    <li><a href="#">Notre histoire</a></li>
                    <li><a href="#">Nos valeurs</a></li>
                    <li><a href="#">Nos partenaires</a></li>
                    <li><a href="#">Liste des personnes</a></li>
                    <li><a href="#">Fonctions des personnes</a></li>
                </ul>
            </h4>
        </div>
        <div class="vmenu">
            <h4>La vie de la Gabare
                <ul id="s4">
                    <li><a href="{{path('animation_index')}}">Animations</a></li>
                    <li><a href="{{path('article_index')}}">Actualités</a></li>
                    <li><a href="#">Thèmes des actualités</a></li>
                    <li><a href="{{path('report_index')}}">Compte rendus</a></li>
                    <li><a href="#">Presse</a></li>
                </ul>
            </h4>
        </div>
        <div class="vmenu">
            <h4>Nous rejoindre
                <ul id="s2">
                    <li><a href="#">Agenda des visites</a></li>
                </ul>
            </h4>
        </div>

   </nav>
</div>
