<div class="container-fluid">
    <div class="row no-gutters>">
        <div class="col-4">
            <h4 class="customersAdd">{{ customers }} Coopérateurs</h4>
        </div>
        <div class="col-8">
            {% if alert.activated == true %}
                <div class="message-alert alert m-0" role="alert">
                   <h4> {{ alert.message }} </h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
