{% extends 'base.html.twig' %}

{% block title %}Edit Animation{% endblock %}

{% block body %}
    <h1>Edit Animation</h1>

    {{ include('admin_animation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('animation_index') }}">back to list</a>

    {{ include('admin_animation/_delete_form.html.twig') }}
{% endblock %}
