{% extends 'base.html.twig' %}

{% block title %}New Animation{% endblock %}

{% block body %}
    <h1>Create new Animation</h1>

    {{ include('admin_animation/_form.html.twig') }}

    <a href="{{ path('animation_index') }}">back to list</a>
{% endblock %}
