<section class="bgProduct pb-5 links">
    <div class="d-none d-sm-block position-relative">
        <img src="{{ asset('build/images/door-join-us-2.jpg') }}" class="photoStripe mb-0" alt="étalage">
        <div class="titleContainer position-absolute w-100 d-flex flex-column justify-content-around h-50">
            <h1 class="titlePhoto w-100 text-center">Nos produits</h1>
            <p class="paraPhoto w-100 text-center">Découvrez nos nouveautés en magasin</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="text-center">Nos produits</h2>
        </div>
    </div>
</section>
