{% extends 'layout_error.html.twig' %}

{% block body %}
    <div class="bgError">
        <div class="flex-column">
            <div class="error-box text-center">
                <h1 class="error-text p-4">La Gabare supermarché coopératif</h1>
                <p class="error-text p-4">Oops,Page non trouvée</p>
                <p class="error-text p-4">Votre recherche a échoué</p>

                <a class="btn btn-error text-center" href="{{ path('home') }}">Revenez sur notre site</a>
            </div>

        </div>
    </div>
{% endblock %}
