{% extends 'layout.html.twig' %}
{% set page ='show_article' %}

{% block body %}

    <div class="container-fluid container-title container-article mt-lg-5">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <h1 class="title"> {{ article.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="card-text date">
            {{ article.date | date("d/m/Y") }}
        </p>
        <div class="card mb-3 border-none">
            <img src="https://via.placeholder.com/640x200" class="card-img-top" alt="article image">
            <div class="card-body">
                <p class="card-text">{{ article.description|raw }}</p>
            </div>
        </div>
    </div>


        <div class="text-center">
            <a href="{{ path('article_list') }}" class="btn btn-info btn-lg actu">Retour</a>
        </div>
    </section>

{% endblock %}
