{% extends 'layout.html.twig' %}
{% set page ='show_article' %}

{% block title %}{{  }}{% endblock %}

{% block body %}

    <section class="article_show">
        <div class="container">
            <header class="row">


            </header>


        </div>


    </section>


{% endblock %}
