<section class="bgBus">
    <h2 class="text-center">Transport en commun</h2>
    <div class="container-fluid">
        <div class="row m-0 m-md-5 justify-content-center">
            <div class="col-12 col-md-8 mb-3">
                <img class="img-fluid" src="{{ asset('build/images/bus.jpg') }}" alt="image des bus">
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-around">
                <h5 class="p-2"><i class="fas fa-subway"></i> Tram Ligne A arrêt : Les Aulnaies</h5>
                <h5 class="p-2"><i class="fas fa-bus"></i> Bus Ligne 13 arrêt : Les Aulnaies</h5>
                <h5 class="p-2"><i class="fas fa-bus"></i> Bus Ligne 26 arrêt : Les Aulnaies</h5>
                <h5 class="p-2"><i class="fas fa-bus"></i> Bus Ligne 1 arrêt : I.U.T</h5>
            </div>
        </div>
    </div>
</section>
