<section class="bgBus">
    <h2 class="text-center">Transport en commun</h2>
    <div class="container-fluid">
        <div class="row m-0 m-md-5 justify-content-center">
            <div class="col-12 col-md-8 mb-3">
                <img class="img-fluid" src="{{ asset('build/images/bus.jpg') }}" alt="image des bus">
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-start">
                <div class="p-2"><div class="badge tramA">Tram Ligne A</div><h5> arrêt : Les Aulnaies</h5></div>
                <div class="p-2"><div class="badge busThirteen">Bus Ligne 13</div><h5> arrêt : Les Aulnaies</h5></div>
                <div class="p-2"><div class="badge busTwentySix">Bus Ligne 26</div><h5> arrêt : Les Aulnaies</h5></div>
                <div class="p-2"><div class="badge busOne">Bus Ligne 1</div><h5> arrêt : I.U.T</h5></div>
            </div>
        </div>
    </div>
</section>
