<div id="contactForm" class="mt-4">

    {{ form_start(form) }}
    <div class="row">



    </div>
    {{ form_row(form.searchField) }}
    <button type="submit" name="btnSearch">Envoyer</button>
    {{ form_end(form) }}

</div>
