<section class="brief mt-5 mb-5">

    <h2 class="text-center">La Gabare en bref</h2>

    <div class="container">

        <div class="d-flex justify-content-between row mt-5">

            <div class="d-flex flex-column justify-content-around col-md-6">

                <div class="mb-5 row">
                    <div class="icon"><i class="fas fa-users"></i></div>
                    <div class="col-10">
                        <h4 class="font-weight-bold">Un projet citoyen</h4>
                        <p>
                            La Gabare est tout d'abord une communauté, une organisation citoyenne, qui appartient à ses
                            membres,
                            les Coop' Acteurs, tous détenteurs de parts sociales et copropriétaires du magasin.
                            Une organisation : décider collégialement des orientations de la coopérative, une personne,
                            une
                            voix.
                        </p>
                    </div>
                </div>

                <div class="mb-5 row">
                    <div class="icon"><i class="fas fa-hands-helping"></i></div>
                    <div class="col-10">
                        <h4 class="font-weight-bold">Une coopérative</h4>
                        <p>
                            La Gabare est ensuite une coopérative où les consommateurs deviennent des consom' acteurs,
                            c'est-à-dire clients et acteurs. Ils y font leurs courses et y participent à raison de trois
                            heures
                            par mois dans un cadre convivial et collaboratif. Un état d'esprit : collaborer autour d'un
                            projet
                            tant humain que vivrier où chacun, du plus jeune au plus âgé, peut trouver sa place.
                        </p>
                    </div>

                </div>

                <div class="row">
                    <div class="icon"><i class="fas fa-store-alt"></i></div>
                    <div class="col-10">
                        <h4 class="font-weight-bold">Un supermarché</h4>
                        <p>
                            La Gabare est enfin un lieu convivial d'animations ainsi qu'un supermarché dont le choix des
                            produits répond à nos valeurs : vente en vrac, respect des producteurs, proximité, impact
                            environnemental et diversité des besoins de ses membres. Un objectif : proposer au
                            consommateur
                            du
                            choix et de la qualité au juste prix.
                        </p>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center">

                <img class="firstImage"
                     src="{{ asset('build/images/rayon.jpg') }}"
                     alt="La_Gabare">

            </div>
        </div>


        <div class="d-flex justify-content-between row mt-5">

            <div class="d-flex justify-content-center col-md-6">
                <img class="secondImage"
                     src="{{ asset('build/images/interieur.jpg') }}"
                     alt="La_Gabare">

            </div>

            <div class="d-flex flex-column justify-content-around col-md-5">
                <div class="mb-5 mt-4">
                    <h4 class="font-weight-bold">Comment participer?</h4>
                    <p>
                        Les clients sont les co-propriétaires du supermarché. Pour le devenir, il suffit d’investir 100
                        €, soit 10 parts sociales de la coopérative et de donner 3 heures toutes les 4 semaines afin
                        d’aider au bon fonctionnement du magasin.
                    </p>
                    <p>
                        C’est cet engagement qui permet de diminuer les coûts et d’assurer un gain de pouvoir d’achat
                        aux membres de La Gabare.
                    </p>
                </div>

                <div>
                    <h4 class="font-weight-bold">Quels produits seront vendus?</h4>
                    <p>
                        De l’épicerie, des produits frais, des produits d’hygiène, des produits ménagers… Nous
                        proposerons des produits de qualité à prix raisonnable en cherchant à privilégier les circuits
                        courts et les producteurs locaux. Nous valoriserons le bio, chaque fois que possible, tout comme
                        la vente en vrac.
                    </p>
                    <p>
                        La Gabare ne sera pas qu’un supermarché mais également un lieu où le lien social sera restauré
                        avec l’appui de l’Association « Les Amis de La Gabare ».
                    </p>
                </div>

            </div>


        </div>

    </div>

    <div class="row justify-content-center mt-5 mb-4">

        <button type="button" class="btn btn-success">Plus d'infos</button>

    </div>
    <div class="row justify-content-center mb-5">
        <button type="button" class="btn btn-success">Téléchargez notre bulletin d'adhésion ici</button>

    </div>
</section>
