<section class="image-transition bgPhone d-flex justify-content-center align-items-center mb-5 mt-5">
    <p class="text-center phone">Permanence téléphonique <a href="tel:02 38 22 54 65">02.38.22.54.65</a></p>
</section>
