<section class="welcome position-relative mb-4">
    <img class="w-100" src="{{ asset('build/images/welcome.jpg') }}">
    <div class="under_message position-absolute w-100">
        <div class="message w-100 h-100"></div>
    </div>
    <div class="w-100 content-message position-absolute text-center">
        <h1 class="title">BIENVENUE À BORD DE<br>LA GABARE !</h1>
        <p class="mt-4 paragraph">Votre Supermarché coopératif à Olivet<br>Ouvert du Mardi au samedi de 9h à 20h sans interruption</p>
    </div>
</section>
