{% extends 'layoutAdmin.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}

    {% include '_flash_message.html.twig' %}

    <h1>Notre histoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>Notre histoire</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ history.description|raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ history.image }}</td>
            </tr>
        </tbody>
    </table>

    <div class="card-footer text-muted">
        <a href="{{ path('history_edit', {'id': history.id}) }}" class="btn btn-success m-3">Modifier<i class="fas fa-pen"></i></a>
    </div>

{% endblock %}
