{% extends 'base.html.twig' %}

{% block title %}Edit Timetable{% endblock %}

{% block body %}
    <h1>Edit Timetable</h1>

    {{ include('admin_timetable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('timetable_index') }}">back to list</a>

    {{ include('admin_timetable/_delete_form.html.twig') }}
{% endblock %}
